*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1C1C;
}
.header{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    z-index: 1;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: #FFB606;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: #FFB606;
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: 0.5s;
    opacity: 0;
    animation: slideSci 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    border: 2px solid #FFB606;
}
.social-media a i{
    transform: rotate(-45deg);
    color: #FFB606;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px 8% 0;
    overflow: hidden;
}
.home-content{
    max-width: 650px;
}
.home-content h1{
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1.5;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3{
    font-family: sans-serif;
    font-size: 40px;
    color: #FFB606;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}
.hero-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFB606;
    border: 1px solid #FFB606;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    color: #1C1C1C;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.hero-btn:hover{
    background-color: transparent;
    color: #FFB606;
}
.car-image{
    position: relative;
    width: 450px;
    height: 450px;
    right: -7%;
    transform: rotate(45deg);
}
.car-image .rhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 25px solid #FFB606;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}
.car-image .rhombus img{
    position: absolute;
    transform: rotate(-45deg);
    top: 100px;
    left: -160px;
    max-width: 750px;
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}
.home .rhombus2{
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: #FFB606;
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
}

/* keyframes */

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}
@keyframes zoomOut{
    0%{
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes car{
    0%{
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}
@keyframes rhombus2{
    0%{
        right: -40%;
        opacity: 0;
    }
    100%{
        right: -25%;
        opacity: 1;
    }
}
